body {
    text-align: center;
    font-family: 'Play', sans-serif;
}

h1, h2 {
	font-family: 'Press Start 2P', cursive;
}

.congrats_popup {
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 35vw;
    display: none;
    background: rgba(255, 255, 255, 0.8);
    height: 160px;
    width: 30vw;
    border-radius: 10px;
}

.won {
	display: block;
}